* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  font-family: "Outfit", sans-serif;
  height: 100%;
  width: 100%;
}

main nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    border: 1px solid black;
}

main nav .a {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

main nav .a .gola {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #000;
}

main nav .a .gola:hover {
    background: #f00;
}

main nav .b {
    display: flex;
    gap: 35px;
}

main nav .b h4 {
    font-size: 1.1vw;
    font-weight: 500;
}

main nav .b h4 span {
    color: rgb(124, 124, 124);
    margin-left: 5px;
}

main nav .b h4:hover {
    text-decoration: underline;
}

main .nav1{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    gap: 55px;
}

main .nav1 h4 {
    font-size: 1vw;
    font-weight: 500;
}

main .content{
    height: calc(100% - 120px);
    width: 100%;
}

main .content .text-content{
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

main .content .text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    width: 30px;
}

main .content .text-content::-webkit-scrollbar-thumb{
  background-color: tomato;
 
}

main .content .text-content .elem{
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .content .text-content .elem h2{
    font-size: 5vw;
    font-weight: 250;
}

main .content .image-content{
    height: 60%;
    width: 100%;
    display: flex;
    
}